<body>

	<div class='title'>Restaurants</div>

	<br>
	<br>

	<% if @restaurants.any? %>
		<% @restaurants.each do |restaurant| %>
			<div class='restaurant-container'>
				<div class='restaurant-header'><%= link_to restaurant.name, restaurant_path(restaurant) %></div>
				<br>
				<div class='restaurant-description'><%= restaurant.description %></div>
				<br>
				<% restaurant.reviews.each do |review| %>
					<div class='restaurant-review'>
						<%= review.thoughts %>
					</div>
				<% end %>

				<br>

				<% if current_user %>

					<% if restaurant.user == current_user %>
						<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
						<br>
						<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
					<% end %>

						<br>

						<% unless (current_user.has_reviewed?(restaurant)) %>
							<%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
						<% end %>

				<% end %>

			</div>

			<br>
			<br>
			<br>
			<br>

		<% end %>
	<% else %>
		No restaurants yet
	<% end %>
	<br>
	<br>

	<div class='link'><%= link_to 'Add a restaurant', new_restaurant_path %></div>

</body>